	<div class="modal fade" id="incomingRequest">

	  <div class="modal-dialog" ng-show="trans && !error">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" aria-hidden="true" ng-click="send($event, false)">&times;</button>
	        <h4 class="modal-title">Payment Request</h4>
	      </div>

	      <div class="modal-body">
	      	<dl class="dl-horizontal">
	      		<dt>Description: </dt>
	      			<dd>{{ trans.description }}</dd>
	      		<dt>Amount: </dt>
	      			<dd>{{ trans.amount }}</dd>
	      	</dl>
	      </div>

	      <div class="modal-footer">
        	<button type="submit" class="btn btn-success btn-block" ng-click="send($event, true)" data-dismiss="modal">Send</button>
        	<button type="submit" class="btn btn-danger btn-block" ng-click="send($event, false)" data-dismiss="modal">Reject</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->

	  <div class="modal-dialog" ng-show="error">
	  	<div class="modal-content">
	  		<div class="modal-header">
	  			<h4>Error</h4>
	  		</div>

	  		<div class="modal-body">
	  			<pre>{{ JSON.stringify( error, undefined, 2 ) }}</pre>
	  		</div>

        <button class="btn btn-primary"  ng-click="dismissError()" data-dismiss="modal">Dismiss Error</button>	  		
	  	</div>
	  </div>

	</div><!-- /.modal -->