<div class="container">

  <div class="row spacer">
    <div class="col-xs-12">
      <form role="form">
        <div class="form-group">
          <label for="inputAmount" class="control-label">Amount</label>
          <input type="number" class="form-control" id="inputAmount" placeholder="Amount" ng-model="amount">
        </div>
        <div class="form-group">
          <label for="inputDescription" class="control-label">Description</label>
          <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="description">
        </div>
        <input type="submit" class="btn btn-success btn-block" value="Save" name="save" id="btnSave" ng-click="save($event)" data-trans-id="{{ transId }}">
        <input type="submit" class="btn btn-warning btn-block" value="Donk Now" name="donk" id="btnDonk" ng-click="donk($event)">
        <input type="submit" class="btn btn-danger btn-block" value="Cancel" name="cancel" id="btnCancel" ng-click="cancel($event)">
      </form>
    </div>
  </div>

	<div class="modal fade" id="saveResult">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">{{ result.success ? 'Success':'Error' }}</h4>
	      </div>
	      <div class="modal-body">
	      	<p ng-show="!result.success">{{ result.error }}</p>
					<p ng-show="result.transaction">You successfully setup a transaction for {{ result.transaction.description }} of amount {{ result.transaction.amount }}.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>